@font-face {
  font-family: 'SFT';
  src: url(fonts/sft.ttf);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  -webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important;
}
html {
  background: black;
}
body {
  background: url(assets/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-weight: 100;
  font-family: 'SFT';
  color: #efefef;
  padding: 0;
  text-align: center;
}
#top > h1 {
  color: white;
  text-align: center;
  font-size: 12em;
}
.main {
  font-family: 'SFT';
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 5em;
  display: block;
}
.logo {
  height: 150px;
}
.header {
  padding-top: 150px;
}
.header > * {
  font-family: 'Josefin Slab' !important;
  text-align: center;
}
.header > h1 {
  font-size: 72px;
  font-weight: 300
}
.header > .sub {
  font-size: 36px;
  font-weight: 100;
}
.section {
  margin-top: 25vh;
  min-height: 100vh;
}
.about > h1, .section > h1 {
  font-family: 'Josefin Slab' !important;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 60px;
}
hr {
  border-color: white;
  width: 40%;
}
.fb {
  width: 100%;
}
.collegebar {
  background-color: #1680A0;
  color: white
}
.collegebar > a {
  text-align: center;
  font-weight: 500;
  font-family: 'Josefin Slab' !important;
  color: white;
}
.tl, .tr > * {
  line-height: 1.25
}
.mt {
  margin-top: 100px;
}
.mapcrop {
  overflow: hidden;
}
.bmap {
  border-radius: 9999px;
  height: 200px;
  border: 2px solid white;
  margin-bottom: 20px;
}
img.icon {
  padding-left: 15px;
  padding-right: 15px;
  width: 150px;
  padding-bottom: 50px;
}
img:not(.logo) {
  opacity: 0.5;
  transition: all .25s;
}
img:hover {
  opacity: 1.0;
  transition: all .25s;
}